:root{
    --No_activo: #8A8A8A;
    --Activo: #000000;
    --Blanco: #ffffff;
    --Blanco_claro: #FFFFFFCC;
    --footer_menu: 'Poppins', sans-serif;
    --footer_p: 'Inter', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}


/* Globales */
footer{
    background-color: black;
    padding-bottom: 5rem;
    padding-top: 5rem;
    padding-right: 6rem;
    margin-top: 5rem;
}

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

.blanco{
    color: var(--Blanco);
}

.blanco_claro{
    color: var(--Blanco_claro);
}

a {
    text-decoration: none;
}


/* Footer  */

.contenedor__footer{
    height: 33.75rem;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5rem;
}

.footer__logo{
    width: 10rem;
}

.footer__logo__texto{
    font-family: var(--footer_p);
}

.footer__logo__texto--principal{
    font-weight: 600;
    font-size: 2rem;
    line-height: .1rem;
}

.footer__logo__texto--secundario{
    font-weight: 400;
    font-size: 1.5rem;
}

.footer__navegacion{
    display: flex;
    justify-content: space-between;
    font-family: var(--footer_menu);
}

.footer__navegacion__texto--principal{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.footer__navegacion__texto--secundario{
    font-size: 1.2rem;
    font-weight: 400;
}